@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", "sans-serif";
/*  overflow: hidden;*/
}
#menu-raj{
    margin-left: 1%;
    margin-top: 1%;
    color:white;
   margin-bottom: 1%;

}
.font{
    background-color: rgb(30, 172, 30);  
}
.icon-number{
    display: inline;
    color: white;
    margin-left: 34%;
    font-weight: 700; 
}
.img1{ 
   display:inline; 
   margin-left: 2%;
   
  
}
#photo{
    margin-top: 1%;
}
#menu-icon{
     display: none;
     
}
.navbar a{
 
   
    position: relative;
    color: black;
    padding-right: 1rem;
    opacity: .6; 
    font-size: 19px;
    text-decoration: none;
}
.menu-bar{
   position: sticky;
   height: 70px;
   top: 0px;
   background-color:white;
   z-index: 100;
}
.menu-bar{
    padding-top: 1rem;
    padding-left: 9rem;
}
 
a:hover:after{
    width: 40px;

}
.navbar a:hover,
.navbar a.active{
    color:rgb(32, 32, 204);
     
    
}
.hospital-pic img{
    margin-top:1%;
    width: 106%;
    height:490px;
   
} 
.hospital-name{
    color: white;
    position: absolute;
    top: 59%;
    left: 7%;
    letter-spacing: 6px;    
}
span{
    display: block;  
}
.youtube-red{
    position: absolute;
    top: 80%;
    right: 1%;
    background-color:red;
    border-radius: 1%;
    padding: 14px 14px ;
    font-size: 100%;
    line-height: normal;
    
  
}
.youtube {
    text-decoration-line: none;
    font-size: 23px;
    letter-spacing: 1px;
    color: white;
    padding: 26px 26px;

}
@keyframes slideinleft {
    from{
          transform: translate(-1000px);

    }
    to{
        transform: translate(0);
    }
}
.youtube-red{
    animation-name: slideinleft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function:ease-in ;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
 
}
 
 .control{
    position: absolute;
    width: 100rem;
    height: 50rem;
    background-color: #191f36;
 }
 .control{

    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
 }
  
    
 .maincontainer{
    position: absolute;
    width: 26rem;
    height: 16rem;
    margin: 20px;
    top: 40rem;
    left: 13px; 
    

 }
 .thecard{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
 }
 .thecard:hover{
    transform: rotateY(180deg);
 }
 .frontcard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    background: rgb(64, 196, 248);
    border-radius: 3px;
    text-align: center;

    
 }
 .frontcard h3{
    position: relative;
    color: white;
    top: 3rem;
    font-weight: 300;
      
     
 }
 .frontcard p{
    position: relative;
    top: 4rem;
    letter-spacing: 1px;
    font-weight: 500;
   
     
 }
 
 .backcard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(64, 196, 248);
    overflow: hidden;
    transform: rotateY(180deg);
    border-radius: 3px;
    text-align: center;
    
 }
 .backcard h4{
    position: relative;
    color: white;
    top: 2rem;

 }
 .backcard p{
    position: relative;
    top: 3rem;
    letter-spacing: 1px;
    color: white;
    opacity: .7;

 }
.maincontainer2{
    position: absolute;
    width: 24rem;
    height: 15rem;
    margin: 20px;
    top: 40rem;
    left: 30rem; 
    text-align: center;

}
.thecard2{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.thecard2:hover{
    transform: rotateY(180deg);
 }
 .frontcard2{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    background: rgb(100, 253, 100);
    border-radius: 3px;
 }
 .frontcard2 h3{
    position: relative;
    color: white;
    top: 3rem;
    font-weight: 300;

 }
 .frontcard2 p{
    position: relative;
    top: 4rem;
    letter-spacing: 1px;
    font-weight: 500;
 }

 .backcard2{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(100, 253, 100);
    overflow: hidden;
    transform: rotateY(180deg);
    border-radius: 3px;
 }
 .backcard2 h4{
    position: relative;
    color: white;
    top: 2rem;
   
 }
 .backcard2 p{
    position: relative;
    top: 2rem;
    letter-spacing: 1px;
    color: white;
    opacity: .7;
 }
 .backcard2 button{
    position: relative;
    top: 2rem;
 }
 .maincontainer3{
    position: absolute;
    width: 25rem;
    height: 13rem;
    margin: 20px;
    top: 40rem;
    left: 57rem;
    text-align: center;
}
.thecard3{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}
.thecard3:hover{
    transform: rotateY(180deg);
 }
 .frontcard3{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    background: lightslategray;
    border-radius: 3px;
    
 }
 .frontcard3 h3{
    position: relative;
    color: white;
    top: 3rem;
    font-weight: 300;

 }
 .frontcard3 p{
    position: relative;
    top: 3rem;
    letter-spacing: 1px;
    font-weight: 500;

 }
 .backcard3{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: lightslategray;
    overflow: hidden;
    transform: rotateY(180deg);
    border-radius: 3px;
 }
 .backcard3 h4{
    position: relative;
    color: white;
    top: 2rem;
 }
 .backcard3 p{
    position: relative;
    top: 2rem;
    letter-spacing: 1px;
    color: white;
    opacity: .7;

 }

 .bigcards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   
   
 }
 .cards1{
   position: relative;
   background:rgb(238, 95, 43);
   width: 25rem;
   height: 30rem;
   left: 33px;
   top: 18rem;  
   text-align: center;
   
 }
 .cards1 h4{
   position: relative;
   top: 23px;
   font-weight: 550;
 }
 
   
 
 .cards1:hover{
   transform: scale(1.06);
 }
 .cards2:hover{
   transform: scale(1.06);
 }
 .cards3:hover{
   transform: scale(1.06);

 }
 .cards4:hover{
   transform: scale(1.06);
 }
 .cards5:hover{
   transform: scale(1.06);
 }
 .cards6:hover{
   transform: scale(1.06);
 }
 .cards1 p{
   position: relative;
   top: 40px;
   color: white;
   font-size: 18px;
 
 }
 .cards2{
   position: relative;
   background: rgb(248, 114, 114);
   width: 25rem;
   height: 30rem;
   left: 33px;
   top: 18rem;
   text-align: center;

 }
 .cards2 h4{
   position: relative;
   top: 23px;
   font-weight: 550;

 }
 .cards2 p{
   position: relative;
   top: 45px;
   color: white;
   font-size: 18px;
 
 }
 .cards2 h4:hover{
   color: rgb(24, 183, 247);
   
 }
 .cards3 h4{
   position: relative;
   top: 23px;
   font-weight: 550;

 }
 .cards3 p{
   position: relative;
   top: 45px;
   color: white;
   font-size: 18px;
 

 }
 .cards3{
   position: relative;
   background: rgb(23, 92, 119);
   width: 25rem;
   height: 30rem;
   left: 33px;
   top: 18rem;
   text-align: center;
 }
 .cards3 h4:hover{
   color: rgb(24, 183, 247);
   
 }
 .cards4 h4:hover{
   color: rgb(24, 183, 247);
   
 }
 .cards5 h4:hover{
   color: rgb(24, 183, 247);
   
 }
 .cards6 h4:hover{
   color: rgb(24, 183, 247);
   
 }
 .cards4{
   position: relative;
   background: rgba(10, 131, 168, 0.575);
   width: 25rem;
   height: 30rem;
   left: 33px;
   top: 19rem;
   text-align: center;
 }
 .cards4 h4{
   position: relative;
   top: 23px;
   font-weight: 550;
 }
 .cards4 p{
   position: relative;
   top: 45px;
   color: white;
   font-size: 18px;

 }
 .cards5{
   position: relative;
   background: rgb(173, 199, 28);
   width: 25rem;
   height: 30rem;
   left: 33px;
   top: 19rem;
   text-align: center;
 }
 .cards5 h4{
   position: relative;
   top: 23px;
   font-weight: 550;
 }
 .cards5 p {
   position: relative;
   top: 45px;
   color: white;
   font-size: 18px;

 }

 
 .cards6{
   position: relative;
   background: rgb(105, 19, 72);
   width: 25rem;
   height: 30rem;
   left: 33px;
   top: 19rem;
   text-align: center;
 }
 .cards6 h4{
   position: relative;
   top: 23px;
   font-weight: 550;

 }
 .cards6 p{
   position: relative;
   top: 45px;
   color: white;
   font-size: 18px;
 }
 .background{
   position: relative;
   width: 85rem;
   height: 50rem;
   background-color: #575961;
   top: 20rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  
 }
 .sir-pic1{
  
   position: relative;
   top: 60px;
 }
 .sir-pic2{
  
  position: relative;
  top: 60px;
}
.sir-pic3{
  
  position: relative;
  top: 60px;
}
.sir-pic1:hover{
  transform: scale(1.06);
}
.sir-pic2:hover{
  transform: scale(1.06);
}
.sir-pic3:hover{
  transform: scale(1.06);
}
.basic-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pic-card{
  position: relative;
  background: whitesmoke;
  width: 23rem;
  height: 19rem;
   bottom: 95px;
   left: 20px;
   text-align: center;
}
.pic-card2{
  position: relative;
  background: whitesmoke;
  width: 23rem;
  height: 17rem;
  bottom: 95px;
  left: 20px;
  text-align: center;
}
.pic-card3{
  position: relative;
  background: whitesmoke;
  width: 24rem;
  height: 19rem;
   bottom: 95px;
   left: 20px;
   text-align: center;
}
.pic-card h6{
  padding: 25px;
  


}
.pic-card p{
  opacity: .7;

}
.pic-card2 h6{
  padding: 25px;

}
.pic-card2 p{
  opacity: .7;
}
.pic-card3 h6{
  padding: 25px;

}
.pic-card3 p{
  opacity: .7;
}
.card-butten a {
  position: relative;
  font-size: 19px;
  padding: 15px 56px;
  width: 6%;
  height: 1%;
  background: rgb(2, 178, 248);
   left: 32rem;
   bottom: 3rem;
  
}
.hello-doctor{
  display: inline;
  text-decoration: none;
  color: white;

}
.hello-doctor:hover{
  background: rgb(253, 181, 48);
}
.adds-pic{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
   
 
  
}
.adds-pic1 a {
  position: relative;
  color: black;
  font-size: 23px;
  font-weight: 550;
  bottom: 10rem;
  left: 2rem;
  text-decoration: none;
   
} 
.adds-pic1 a:hover {
  text-decoration: underline;
  color: rgb(94, 184, 184);
  transition: 2s;

}
.adds-pic3 a:hover {
  text-decoration: underline;
  color: rgb(94, 184, 184);
  transition: 2s;

}
.adds-pic6 a:hover {
  text-decoration: underline;
  color: rgb(94, 184, 184);
  transition: 2s;

}
.adds-pic8 a:hover {
  text-decoration: underline;
  color: rgb(94, 184, 184);
  transition: 2s;

}
.adds-pic2{
  position: relative;
 
  
  
}
.adds-pic7{

  position: relative;
 
 
} 
.adds-pic3 a{

  position: relative;
  color: black;
  font-size: 23px;
  font-weight: 550;
  bottom: 9rem;
  left: 2rem;
  text-decoration: none;
 
  
} 
.adds-pic4{
position: relative; 
 
}
.adds-pic5{
position: relative;
left: 10px;
 
 
}
.adds-pic6 a{ 
position: relative;
color: black;
  font-size: 23px;
  font-weight: 550;
  bottom: 9rem;
  left: 2rem;
  text-decoration: none;
 
}
.adds-pic8 a{
  position: relative;
  color: black;
  font-size: 23px;
  font-weight: 550;
  bottom: 10rem;
  left: 2rem;
  text-decoration: none;

}
.ads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
} 
.ads1{
  position:relative;
  left: 20px;
  
  
}
.ads2{
  position: relative;
  left: 20px;
  
}
.ads3{
  position: relative;
  left: 20px;
  
}

.container-adds{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}
.card__container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   row-gap: 3.5rem;
   gap: 30PX;
}
.card__article{
  position: relative;
  overflow: hidden;
}
.card__img{
  width: 328px;
  border-radius: 1.5rem;
  
}
.card__data{
  width: 23rem;
  height: 16rem;
  background-color:  white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsl(0,0%,0%,.15);
  border-radius: 1rem;
  position:absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  z-index: 10;
}
.card__button{
position: relative;
font-size: 20px;
text-decoration: none;
color: rgb(117, 205, 240);
}
.card__button:hover{
  text-decoration: underline;
}

.card__article:hover .card__data{
  animation: show-data 1s forwards;
  opacity: 2;
  transition: opacity .3s;
}
.card__article:hover{
  animation: remove-overflow 1s forwards;

}
.card__data:not(:hover){
  animation: show-overflow 1s forwards;
}
.card__data:not(:hover){
  animation: remove-data 1s forwards;
}
 

@keyframes show-data{
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7);
  }
}

@keyframes remove-overflow{
  to{

     overflow: initial;
     
  }
}

@keyframes remove-data{
  0%{
    transform: translateY(-7);
  }
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow{
  0%{
    overflow: initial;
    pointer-events: none;

  }
  50%{
    overflow: hidden;
  }
}
.background-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
   row-gap: 3.5rem;
   gap: 30PX;

 
  
}
 .para1{
  position: relative;
  background-color: whitesmoke;
  width: 25rem;
  height: 10rem;
  left: 45px;
  bottom: 82px;
  z-index: 0;
   
  padding: 16px;
 }
 .para2{
  position: relative;
  background-color: whitesmoke;
  width: 25rem;
  height: 10rem;
   left: 1rem;
  bottom: 82px;
  z-index: 0;
  
 padding: 16px;
 }
 .para3{
  position: relative;
  background-color: whitesmoke;
  width: 25rem;
  height: 10rem;
   right: 1rem;
  bottom: 82px;
  z-index: 0;
   
  padding: 16px;
 }
 .para1 p{
  position: relative;
  top: 50px;
  opacity: .8; 
  font-size: 18px;
  letter-spacing: 1px;
  
 }
 .para2 p{
  position: relative;
  top: 50px;
  opacity: .8; 
  font-size: 18px;
  letter-spacing: 1px;
 }
 .para3 p{
  position: relative;
  top: 50px;
  opacity: .8; 
  font-size: 18px;
  letter-spacing: 1px;
 }
 .para1 p:hover{
   color:rgb(243, 74, 12);
 }
 .para2 p:hover{
  color:rgb(243, 74, 12);
}
.para3 p:hover{
  color:rgb(243, 74, 12);
}
 
 

 