 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", "sans-serif";
   
  }
  #menu-raj{
      margin-left: 1%;
      margin-top: 1%;
      color:white;
     margin-bottom: 1%;
  
  }
  .font{
      background-color: rgb(30, 172, 30);  
  }
  .icon-number{
      display: inline;
      color: white;
      margin-left: 30%;
      font-weight: 700; 
  }
  .img1{ 
     display:inline; 
     margin-left: 2%;
     
    
  }
  #photo{
      margin-top: 1%;
  }
  #menu-icon{
       display: none;
       
  }
  .navbar a{
      position: relative;
      color: black;
      opacity: .6; 
      font-size: 19px;
      text-decoration: none;
  }
  .menu-bar{
     position: sticky;
     height: 70px;
     top: 0px;
     background-color:white;
     z-index: 100;
  }
  
  .menu-bar{
      padding-top: 1rem;
      padding-left: 6rem;
      padding-right: 6rem;
  }
   
  a:hover:after{
      width: 40px;
  
  }
  .navbar a:hover,
  .navbar a.active{
      color:rgb(32, 32, 204);

  }
 .vaccine-background{
    background-color: whitesmoke;
    width: 100%;
    height: 6rem;
  }
 .vaccine-background h6{
    position: relative;
    font-size: 21px;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 30px;
    font-weight: 600;
  }
  .para{
     display:   grid;
     grid-template-rows:10px 10px 10px ;
     justify-content: center;
     row-gap: 50px;
     margin-top: 20px;
  }
.para1{
     margin-top: 40px;
  }
  .para2 ,.para3{
    margin-top: 50px;
  }
  .para3{
    text-align: center;
  }
  .para2 h5{
    text-align: center;
    font-weight: 700;
     
  }
  .para3 h6{
    color: black;
    font-weight: 800;
  }
  table,tr,th{
    margin-top: 3rem;
    font-size: 17px;
    padding: 20px;
    
  
  }
  table{
     display: flex;
     justify-content: space-around;
    
  }
  th{
    background-color: rgb(248, 177, 44);
     color: white;
  }
  td{
     padding: 10px;  
  }
  .resum{
     
  margin: 20px;
 

  }
  .resum img{
    position: relative;
    float: right;
    bottom: 33rem;
  }
  .resum p{
    margin-top: 16px;
  }
  .finnal-background{
    position: absolute;
    background: whitesmoke;
    width: 100%;
    margin-top: 6rem;
    height: 25rem;
    overflow: hidden;
    
     
  } 
  .finnal-background h6{
    position: relative;
    left: 9rem;
    top: 3rem;
  }
  .finnal-background p{
    position: relative;
    background-color:white;
    width: 23rem;
    height: 6rem;
    margin: 20px ;
    padding: 20px;
    top: 5rem;
  }
  
   .finnal-background2 {
    position: relative;
   display: flex;
    left: 23rem; 
    bottom: 15rem;
     
    
  
   }
  .finnal-background2 p{
    position: relative;
    width: 23rem;
    height: 11rem;
    margin: 20px ;
    padding: 20px;
  }
  .finnal-background2 h6{
    position: relative;
    left: 14rem;
    top: 3rem;
   
  }
  .footer{
    position: relative;
    background-color: #0b1331;
    width: 100%;
    height: 2rem;
    top: 31rem;
     
     
  } 
  .footer p{
    color: white;
    opacity: .3;
    margin: 2px;
    font-size: 13px;
  }
  iframe{
    position: absolute;
    left: 60rem;
    top: 139rem;
   
 
  }
 