@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", "sans-serif";
}
#menu-raj{
    margin-left: 1%;
    margin-top: 1%;
    color: white;
   margin-bottom: 1%;

}
.font{
    background-color: lightblue;  
}
.icon-number{
    display: inline;
    color: white;
    margin-left: 34%;
    font-weight: 700; 
}
.img1{ 
   display:inline; 
   margin-left: 1%;
   size: 2%;
}
.img2{
    display: inline-flex;
    color: white;
    margin-left: 66%;
    margin-top: 3%;    
}
.image{
    padding-bottom: 60%;
   
}
#menu-icon{
     display: none;
     
}
.navbar a{
    position: relative;
    color: black;
    padding-right: 1rem;
    opacity: .6; 
    font-size: 19px;
    text-decoration: none;
    
}
.menu-bar{
    padding-top: 2rem;
    padding-left: 9rem;
}
a:after{
    content: "";
    position: absolute;
    background-color: lightcoral;
    height: 3px;
    width: 0;
    bottom: -10px;
    left: 0;
    transition: 0.3s;
    
}
a:hover:after{
    width: 40px;

}
.navbar a:hover,
.navbar a.active{
    color:lightgreen;
     
    
}
.hospital-pic img{
    margin-top:1%;
    width: 100%;
    height:700px;
   
} 
.sub-menu{
    display: none;


}
 .menu-bar:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-top: 15px;
    margin-left: -15px;

}
 