*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", "sans-serif";
  /* overflow: hidden;*/
  }
  .ab_test{
    color: blue;
  }
  #menu-raj{
      margin-left: 1%;
      margin-top: 1%;
      color:white;
     margin-bottom: 1%;
  
  }
  .font{
      background-color: rgb(30, 172, 30);  
  }
  .icon-number{
      display: inline;
      color: white;
      margin-left: 34%;
      font-weight: 700; 
  }
  .img1{ 
     display:inline; 
     margin-left: 2%;
     
    
  }
  #photo{
      margin-top: 1%;
  }
  #menu-icon{
       display: none;
       
  }
  .navbar a{
      position: relative;
      color: black;
      padding-right: 1rem;
      opacity: .6; 
      font-size: 19px;
      text-decoration: none;
  }
  .menu-bar{
     position: sticky;
     height: 70px;
     top: 0px;
     background-color:white;
     z-index: 100;
  }
  .menu-bar{
      padding-top: 1rem;
      padding-left: 3rem;
  }
   
  a:hover:after{
      width: 40px;
  
  }
  .navbar a:hover,
  .navbar a.active{
      color:rgb(32, 32, 204);
       
      
  }
  .hospital-pic img{
      margin-top:1%;
      width: 106%;
      height:490px;
     
  } 
  .hospital-name{
      color: white;
      position: absolute;
      top: 59%;
      left: 7%;
      letter-spacing: 6px;    
  }
  span{
      display: block;  
  }
  .youtube-red{
      position: absolute;
      top: 80%;
      right: 1%;
      background-color:red;
      border-radius: 1%;
      padding: 14px 14px ;
      font-size: 100%;
      line-height: normal;
      
    
  }
  .youtube {
      text-decoration-line: none;
      font-size: 23px;
      letter-spacing: 1px;
      color: white;
      padding: 26px 26px;
  
  }
  @keyframes slideinleft {
      from{
            transform: translate(-1000px);
  
      }
      to{
          transform: translate(0);
      }
  }
  .youtube-red{
      animation-name: slideinleft;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-timing-function:ease-in ;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      
   
  }
   
   .control{
      position: absolute;
      width: 100rem;
      height: 50rem;
      background-color: #191f36;
   }
   .control{
  
      display: flex;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
   }
   .our-doctor h4{
       float: right;
   }
   .our-doctor a{
    float: right;
   }
   .about h6{
      position: relative;
      left: 50%;
      font-size: 15px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
.about h4{
    position: relative;
    left: 6rem;

}
.about p{
    position: relative;
    background: whitesmoke;
    width: 20rem;
    height: 6rem;
    left: 3rem;
    padding: 10px;
    gap: 20px;
    top: 2rem;
    font-size: 15px;
}
.about2 h5{
    position: relative;
    float: right;
    bottom: 29rem;
    right: 42rem;
     


}
.about2  p{
    position: absolute;
    float: right;
    left: 30rem;
    top: 21rem;
    padding: 13px;
}
.our-doctor h4{
   
    position: absolute;
    bottom: 20rem;
    left: 65rem;

}
.our-doctor a{
     
    position: relative;
    bottom: 20rem;
    left: 65rem;
    padding-top: 1rem;
    padding-left: 3rem;  
}





.rio-services{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 35px;
     

}
.rio-services h4{
    position: relative;
    left: 40rem;
} 
.cards1{
    position: relative;
    background: blue;
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards2{
    position: relative;
    background: rgb(76, 151, 89);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards3{
    position: relative;
    background: rgb(10, 66, 38);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards4{
    position: relative;
    background: rgb(137, 137, 158);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards5{
    position: relative;
    background: rgb(33, 33, 128);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards6{
    position: relative;
    background: rgb(49, 49, 158);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards7{
    position: relative;
    background: rgb(219, 153, 29);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards8{
    position: relative;
    background: rgb(0, 255, 255);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards9{
    position: relative;
    background: rgb(9, 112, 126);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
.cards10{
    position: relative;
    background: rgb(41, 5, 5);
    width: 39rem;
    height: 19rem;
    top: 10rem;

}
 